@import url("https://fonts.googleapis.com/css2?family=Asul&family=Crimson+Text:wght@400;600&family=Dancing+Script:wght@400;600&family=Kalam:wght@300&family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&family=Nunito+Sans:wght@300;600&family=Roboto:wght@300;700&family=Ubuntu:wght@300;400&display=swap");
* {
  font-family: "Asul", sans-serif;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
body {
  width: 30%;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
input {
  width: 50%;
  padding: 0.8rem;
  text-align: center;
}
button {
  width: 20%;
  height: 2rem;
}
textarea {
  width: 50%;
  height: 4rem;
  padding: 1rem;
  font-size: 1.2rem;
}
