@import url("https://fonts.googleapis.com/css2?family=Asul&family=Crimson+Text:wght@400;600&family=Dancing+Script:wght@400;600&family=Kalam:wght@300&family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&family=Nunito+Sans:wght@300;600&family=Roboto:wght@300;700&family=Ubuntu:wght@300;400&display=swap");
* {
  font-family: "Asul", sans-serif;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
body {
  font-size: 1.2rem;
  min-width: 60%;
  margin: auto;
  background-color: rgb(152, 195, 247);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
input {
  min-width: 15%;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}
button {
  min-width: 5%;
  height: 2rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}
button:hover {
  background-color: gray;
  cursor: pointer;
}
textarea {
  min-width: 15%;
  height: 4rem;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: honeydew;
}
.footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
.icon {
  width: 30px;
  padding: 0.5rem;
  margin: 0;
}
